<body class="dark-edition animated fadeIn">
  <div class="wrapper ">
    <app-store-menu></app-store-menu>
      <div class="main-panel">
        <div class="mt-4">
            <div class="container-fluid">
              <div class="row lign-items-center animated fadeIn">
                <div class="col-md-12">
                  <div class="text-center text-grey">
                    <h3> 
                      Tienda <button class="no-class" matTooltip="Arrastre los productos que necesite de isa system a isa store, al arrastrar un producto de isa system a isa store este por defecto no poseé descripciones ni datos adicionales, y esto será reflejado con un icono de precaución, por favor rellene la información lo ates posible."> <i class="fas fa-info-circle text-light" ></i> </button>
                    </h3>
                    <p class="text">Promocinoes, las promociones son utilizadas para que al comprar una cantidad determinada de productos el cliente obtenga un descuento o promoción, para realizar una promocion el producto ya debe estar incluido dentro de la tienda, solo tome el producto y arrastrelo hacia las promociones.</p>
                  </div>
                </div>
              </div>
                <br><br>
              <div class="row mb-5">
                <div class="col-md-6">
                  <div class="text-center contenedor">
                    <img class="imagen" src="./assets/img/isaStore.png"  width="100">
                  </div>
                  <br>
                  <mat-select class="my-select-panel-class" placeholder="Buscar en categorias desde la tienda" name="store"
                  [(ngModel)]="storeCategoryById" 
                  (ngModelChange)="selectCategoryByStore($event)">
                    <mat-option *ngFor="let item of CategorysByStore" [value]="item.id">
                      {{item.nombre}}
                    </mat-option>
                  </mat-select>
                  <div class="example-container">
                    <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="storeProductsTemp"
                      [cdkDropListConnectedTo]="[doneList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of storeProductsTemp" cdkDrag>{{item.name}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="example-container">
                    <div class="text-center contenedor mb-1">
                      <img class="imagen" src="./assets/img/isaStore.png"  width="100">
                    </div>
                    <button class="btn btn-block btn-sm btn-success mt-2 mb-2" (click)="savePromo()">Guardar</button>
                    <div
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="promoTemp"
                      [cdkDropListConnectedTo]="[todoList]"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of promoTemp" cdkDrag>{{item.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</body>
