<app-navigate></app-navigate>
<div class="ml-5 animated fadeIn">
  <nav class="nav-component">
    <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio / </a> <a [routerLink]="['/tienda']" routerLinkActive="active" >Tienda / </a> <a [routerLink]="['/tienda/ventas']" routerLinkActive="active" >Ventas / </a> 
  </nav>
</div>
<div class="row lign-items-center animated fadeIn mb-4">
  <div class="col-md-12">
    <div class="text-center text-grey">
      <h3>
        Tienda <button class="no-class" (click)="tooltip.toggle()" > <i class="fas fa-info-circle"></i> </button>
      </h3>
      <p>Dentro del inicio tiene a la izquiera los prodúctos del sistema y a la derecha los prodúctos que se muestran dentro de la tienda</p>
    </div>
  </div>
  <br><br>
  <div class="col-md-6">
    <div class="container-fluid">
      <div class="text-center contenedor">
        <img class="imagen" src="./assets/img/isaSystem.png"  width="100" [attr.title]="'Cantidad de productos ' + lengthProducts + ' click aquí si desea verlos todos'" >
      </div>
      <app-dasboard-list-product 
      [dataDashboard]="dataDashboard"
      [Usd]="Usd"
      (productSend)="getDataDashboard($event)">
      </app-dasboard-list-product>
    </div>
  </div>
  <div class="col-md-6">
    <app-store-list-product 
    [storeProducts]="storeProducts"
    [loadingStore]="loadingStore">
    </app-store-list-product>
  </div>
</div>
