<div id="slider">
    <ngb-carousel  [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let item of sliders">
            <div class="picsum-img-wrapper animated fadeIn" style="z-index: 1">
                <img [src]="item.img" width="100%" alt="Random first slide">
            </div>
            <div class="sub-img img-fluid" [ngStyle]="subImgConfig" *ngIf="item.imgSuper">
                <img [src]="item.subImg" [ngStyle]="{'width': item.width + '%'}">
            </div>
            <ng-container *ngIf="item.titleSuper && item.class == 'carousel-caption-01' && pantalla > 550; else class">
                <div  class="carousel-caption-01" [ngStyle]="titlesConfig">
                    <h3> {{item.title}} </h3>
                    <p> {{item.subtitle}} </p>
                </div> 
            </ng-container>
            <ng-template #class>
                <div  class="carousel-caption">
                    <h3> {{item.title}} </h3>
                    <p> {{item.subtitle}} </p>
                </div>
            </ng-template>
        </ng-template>
    </ngb-carousel>
</div>