.sub-img{
    position: absolute;
    z-index: 100;
}
.carousel-caption-01{
    h3{
        font-size: 3vh;
    }

    p{
        font-size: 2vh;  
    }
    
    color: white;
    position: absolute;
    padding: 20px;
    border-radius: 20px; 
}

