<div class="row">
  <div class="col-md-12 animated fadeIn">
    <mat-select placeholder="Buscar categoria" name="category"
      [(ngModel)]="categoryId"  (ngModelChange)="selectCategory($event)">
        <mat-option *ngFor="let item of categorys" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
      <br><br>
      <div class="container mb-4 animated fadeIn" *ngIf="length > 0">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar producto dentro del sistema..." name="filter" [(ngModel)]="filter">
        </div>
        <br><br>
        <button type="button" class="btn btn-primary btn-sm btn-block" (click)="add()">Agregar</button> 
      </div>
      <mat-selection-list #list [(ngModel)]="selectedOptions">
          <mat-list-option *ngFor="let item of products | filterProduct:filter | orderBy:order:reverse:'case-insensitive'" [value]="item">
            <img matListAvatar [src]="item.img == '' ? './assets/img/noimg.png' : item.img">
            <h3 matLine> {{item.name}} </h3>
            <p matLine>
              <span> Cantidad: {{item.stock}} </span>
              <span class="demo-2"> 
                <ng-container *ngIf="item.priceS != 0; else elseTemplate">
                    <div class="mb-2">
                      <h4 style="font-size:0.8rem">
                        <strong class="text-info">Precio en USD    {{ item.priceS / Usd | currency  }}</strong> |
                        <strong class="text-warning">Precio en Bs  {{ item.priceS       | convertBs }}</strong> 
                      </h4>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <h4 style="font-size:0.8rem">
                      <strong class="text-info">Precio en Bs      {{ item.priceS$ * Usd | convertBs }}</strong> |
                      <strong class="text-warning">Precio en USD  {{ item.priceS$       | currency  }}</strong>
                    </h4>
                </ng-template>
              </span>
            </p>
          </mat-list-option>
        </mat-selection-list>
  </div>
</div>