<body class="dark-edition animated fadeIn" *ngIf="excell == false">
    <app-navigate></app-navigate>
    <div class="col-md-12 mt-5">
            <div class="row">
                <div class="col-md-12 tex-center">
                    <h2 class="text-danger" (click)="excell =! excell">Volver</h2>
                </div>
            </div>
        <div class="row m-5 animated fadeIn">
            <div class="col-md-4 text-center">
                <button class="no-class">
                    <h2 class="text-warning" (click)="excell =! excell; getArrExcelBs(idCat)" >BS 
                        <i class="fas fa-coins"></i>
                    </h2>
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="no-class">
                    <h2 class="text-success" (click)="excell =! excell; getArrExcelUsd(idCat)">USD 
                        <i class="fas fa-dollar-sign"></i>
                    </h2>
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="no-class">
                    <h2 class="text-info" (click)="excell =! excell; getArrExcel(idCat)">Bs / Usd 
                        <i class="fas fa-coins"></i> 
                        <i class="fas fa-dollar-sign"></i> 
                    </h2>
                </button>
            </div>
        </div>
    </div>
</body>
<body class="dark-edition animated fadeIn" *ngIf="pdf == false">
    <app-navigate></app-navigate>
    <div class="col-md-12 mt-5">
            <div class="row">
                <div class="col-md-12 tex-center">
                    <h2 class="text-danger" (click)="pdf =! pdf">Volver</h2>
                </div>
            </div>
        <div class="row m-5 animated fadeIn">
            <div class="col-md-4 text-center">
                <button class="no-class">
                    <h2 class="text-warning" (click)="pdf =! pdf; captureScreen('Bs')" >BS 
                        <i class="fas fa-coins"></i>
                    </h2>
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="no-class">
                    <h2 class="text-success" (click)="pdf =! pdf;  captureScreen('Usd')">USD 
                        <i class="fas fa-dollar-sign"></i>
                    </h2>
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="no-class">
                    <h2 class="text-info" (click)="pdf =! pdf; aux = captureScreen('Usd-Bs')">Bs / Usd 
                        <i class="fas fa-coins"></i> 
                        <i class="fas fa-dollar-sign"></i> 
                    </h2>
                </button>
            </div>
        </div>
    </div>
</body>


<body class="dark-edition animated fadeIn" *ngIf="excell && pdf">
    <app-navigate></app-navigate>
    <div class="ml-5">
        <nav class="nav-component">
            <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio /</a>  <a [routerLink]="['/categorias']" routerLinkActive="router-link-active" > Lista categorias /</a> <a [routerLink]="['/productos']" routerLinkActive="router-link-active" > Productos</a> 
        </nav>
    </div>
    <div class="text-center mt-5">
       <div *ngIf="categorias">
            <div *ngIf="position == 'jefe' || position == 'empleado'"  >
                <a routerLink="/categorias/agregar" *ngIf="permiss == 1 || position == 'jefe'"><p class="add mt-4 animated fadeIn">AGREGAR NUEVA CATEGORÍA</p> </a>
            </div>
            <div class="col-md-12">
                <div class="form-group container">
                    <input type="text" class="form-control" placeholder="Buscar categoria..." name="filter" [(ngModel)]="filter">
                </div> 
            </div>
       </div>
        <div class="animated fadeIn" *ngIf="busqueda">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <button value="CPTURE" (click)="pdf =! pdf" class="no-class" >
                        <p class="add mt-4 text-danger">DESCARGAR PDF <i class="fas fa-file-pdf" style="font-size:1.5rem"></i>
                        </p>
                    </button>
                </li>
                <li class="list-inline-item"> 
                    <button class="no-class" (click)="excell =! excell">
                       <P class="add mt-4 text-success">DESCARGAR EXCEL <i class="fas fa-table" style="font-size:1.5rem"></i></P>
                    </button>
                </li>
                <li class="list-inline-item">
                    <button class="no-class" (click)="excell =! excell">
                        <P class="add mt-4 text-warning" (click)="busqueda = false; categorias = true">VOLVER <i class="fas fa-undo" style="font-size:1.5rem"></i></P>
                    </button>
                </li>
            </ul>
        </div>
    </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12" *ngFor="let item of cat | filterProduct:filter">
                <div class="card card-profile animated fadeIn" *ngIf="categorias">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>{{item.name}}</h3>
                            <p class="text-align-left">{{item.description}}</p>
                        </div>
                        <div class="card-body text-center mt-2">
                            <a class="btn btn-warning btn-round mr-2" [routerLink]="['/categorias/editar/', item.id]" routerLinkActive="router-link-active" ><i class="material-icons">create</i></a>
                            <a class="btn btn-info btn-round mr-2" (click)="getCat(item.id); idCat = item.id; catName = item.name"><i class="material-icons">search</i></a>
                            <a class="btn btn-danger btn-round mr-2" (click)="openDialogCat(item.id)"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animated slideInLeft text-center" *ngIf="busqueda">
            <div class="text-center">
                <h3>Filtro de la categoria {{catName}}</h3>
            </div>
            <br>
            <div class="text-center mb-5">
                <ul class="list-inline">
                    <li class="list-inline-item" [class.active]="order === 'product.name'" (click)="setOrder('name')" >
                        <a href="#" class="text-info">Nombre </a>
                    </li>
                    <li class="list-inline-item" [class.active]="order === 'product.fecven'" (click)="setOrder('fecven')" >
                        <a href="#" class="text-info">Fecha de vencimiento</a>
                    </li>
                    <li class="list-inline-item" [class.active]="order === 'product.stock'" (click)="setOrder('stock')" >
                        <a href="#" class="text-info">Cantidad</a>
                    </li>
                </ul>
            </div>
            <table class="table">
                <thead>
                    <th> <strong>Cantidad</strong> </th>
                    <th> <strong>Nombre</strong> </th>
                    <th> <strong>Precio Bs</strong> </th>
                    <th> <strong>Precio USD</strong> </th>
                    <th> <strong>Fecha V</strong> </th>
                    <th *ngIf="permiss == 1 || position == 'jefe'"> <strong>Editar</strong> </th>
                    <th *ngIf="permiss == 1 || position == 'jefe'"> <strong>Eliminar</strong> </th>
                </thead>
                <tbody *ngFor="let item of search | orderBy: order:reverse:'case-insensitive'">
                <tr>
                    <td>{{item.stock}} </td>
                    <td>{{item.name}}</td>
                    <td *ngIf="item.priceB != 0">{{item.priceS | convertBs}} </td>
                    <td *ngIf="item.priceB != 0">{{item.priceS / Usd | currency}} </td>
                    <td *ngIf="item.priceB == 0">{{item.priceS$ * Usd | convertBs}} </td>
                    <td *ngIf="item.priceB == 0">{{item.priceS$ | currency}} </td>
                    <td> {{item.fecven}} </td> 
                    <td *ngIf="permiss == 1 || position == 'jefe'"> <button class="btn btn-sm btn-warning"  [routerLink]="['/productos/editar',item.id]"><i class="material-icons">create</i></button> </td>
                    <td *ngIf="permiss == 1 || position == 'jefe'"> 
                        <button class="btn btn-sm btn-danger" (click)="openDialog(item.id)"> 
                            <i class="material-icons">delete</i>
                        </button>
                     </td>
                </tr>
                </tbody>
            </table> 
        </div>
   </div>
</body>

<table class="tablee2" id="contentToConvert" *ngIf="aux == 'Usd-Bs'">
    <thead>
        <th> <strong>Cantidad</strong> </th>
        <th> <strong>Nombre</strong> </th>
        <th> <strong>Precio Bs</strong> </th>
        <th> <strong>Precio USD</strong> </th>
        <th> <strong>Fecha V</strong> </th> 
    </thead>
    <tbody *ngFor="let item of search | orderBy:order:reverse:'case-insensitive'">
    <tr>
        <td>{{item.stock}} </td>
        <td>{{item.name}}</td>
        <td *ngIf="item.priceB != 0">{{item.priceS | convertBs}} </td>
        <td *ngIf="item.priceB != 0">{{item.priceS / Usd | currency}} </td>
        <td *ngIf="item.priceB == 0">{{item.priceS$ * Usd | convertBs}} </td>
        <td *ngIf="item.priceB == 0">{{item.priceS$ | currency}} </td>
        <td> {{item.fecven}} </td> 
    </tr>
    </tbody>
</table> 
<table class="tablee2" id="contentToConvert" *ngIf="aux == 'Bs'">
    <thead>
        <th> <strong>Cantidad</strong> </th>
        <th> <strong>Nombre</strong> </th>
        <th> <strong>Precio Bs</strong> </th>
        <th> <strong>Fecha V</strong> </th> 
    </thead>
    <tbody *ngFor="let item of search | orderBy:order:reverse:'case-insensitive' ">
    <tr>
        <td>{{item.stock}} </td>
        <td>{{item.name}}</td>
        <td *ngIf="item.priceB != 0">{{item.priceS | convertBs}} </td>
        <td *ngIf="item.priceB == 0">{{item.priceS$ * Usd | convertBs}} </td>
        <td> {{item.fecven}} </td> 
    </tr>
    </tbody>
</table> 
<table class="tablee2" id="contentToConvert" *ngIf="aux == 'Usd'">
    <thead>
        <th> <strong>Cantidad</strong> </th>
        <th> <strong>Nombre</strong> </th>
        <th> <strong>Precio USD</strong> </th>
        <th> <strong>Fecha V</strong> </th> 
    </thead>
    <tbody *ngFor="let item of search | orderBy:order:reverse:'case-insensitive'">
    <tr>
        <td>{{item.stock}} </td>
        <td>{{item.name}}</td>
        <td *ngIf="item.priceB != 0">{{item.priceS / Usd | currency}} </td>
        <td *ngIf="item.priceB == 0">{{item.priceS$ | currency}} </td>
        <td> {{item.fecven}} </td> 
    </tr>
    </tbody>
</table> 





      
    