<div class="content">
  <div class="container-fluid">
    <div class="row mt-5 text-center">
      <div class="col-md-12 col-sm-12 " *ngIf="position == 'jefe' || position == 'empleado'">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a routerLink="/categorias" ><p class="text-warning">LISTA DE CATEGORIAS  <i class="fas fa-align-left" style="font-size:1.5rem"></i></p> </a>
          </li>
          <li class="list-inline-item" *ngIf="permiss == 1 || position == 'jefe'"><a routerLink="/productos/agregar" ><p class="text-info">AGREGAR NUEVO PRODUCTO <i class="fas fa-cube" style="font-size:1.5rem"></i></p> </a>
          </li>
          <li class="list-inline-item">
            <button class="text-danger no-class" value="CPTURE" (click)="captureScreen()">DESCARGAR PDF <i class="fas fa-file-pdf" style="font-size:1.5rem"></i></button>
          </li>
          <li class="list-inline-item">
            <app-export-excel [arrayExcel]="arrayExcel"></app-export-excel>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-6 mb-5">
      <div class="container mb-4">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar medicamento..." name="filter" [(ngModel)]="filter">
          </div> 
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid">
     <div class="text-center">
       <h3>FILTROS DE DATOS</h3>
     </div>
     <br>
      <div class="text-center mb-5">
        <ul class="list-inline">
          <li class="list-inline-item" [class.active]="order === 'product.name'" (click)="setOrder('name')" >
            <a href="#" class="text-info">Nombre 
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
            </a>
          </li>
          <li class="list-inline-item" [class.active]="order === 'product.fecven'" (click)="setOrder('fecven')" >
            <a href="#" class="text-info">Fecha de vencimiento
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </a>
          </li>
          <li class="list-inline-item" [class.active]="order === 'product.stock'" (click)="setOrder('stock')" >
            <a href="#" class="text-info">Cantidad
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="row">
        <div class="col-md-4 mt-4 animated fadeIn" *ngFor="let product of product | filterProduct:filter | orderBy:order:reverse:'case-insensitive'">
          <div class="card card-profile">
            <div class="card-avatar">
              <img class="img" [src]="product.img == '' ? './assets/img/no-product.png' : product.img" />
            </div>
            <div class="cantidad">
                <div *ngIf="product.stock == 0">
                  <i class="fas fa-exclamation-triangle text-danger" style="font-size: 1.5rem"></i>
                </div>
                <span class="text-light">{{product.stock}}</span>
              </div>
            <div class="card-body">
                <div class="card-title">
                  <h3 class="text-name">{{product.name}}</h3>
                  <div class="mb-2" style="position:relative; bottom: 8px;">
                      <small *ngIf="position == 'jefe'">Compra: {{product.priceB}}</small>
                      <br>
                      <small class="iva" *ngIf="product.iva != 0">Este producto contine Iva</small>
                  </div>
                  <div class="mb-2" *ngIf="product.priceS != 0">
                    <h4 style="font-size:0.8rem">
                      <strong class="text-info">Precio en USD M:     {{ product.priceS / Usd | currency }}</strong> |
                      <strong class="text-warning">Precio en USD D:  {{ ((product.priceS / Usd) * 1.10) | currency }}</strong> 
                    </h4>
                  </div>
                  <div class="mb-2" *ngIf="product.priceS$ != 0">
                      <h4 style="font-size:0.8rem">
                        <strong class="text-info">Precio en Bs M:   {{ (product.priceS$ * Usd) | convertBs }}</strong> |
                        <strong class="text-warning">Precio en Bs D:{{ ((product.priceS$ * Usd) * 1.10) | convertBs }}</strong>
                      </h4>
                  </div>
                </div>
                <br>
                <div class="row mt-2 mb-2 text-left">
                  <div class="col-md-6" *ngIf="product.priceS != 0">
                      <div class="text-warning" *ngIf="product.iva == 0">
                          Detal: {{ (product.priceS * 1.10) | convertBs }}
                      </div>
                      <div class="text-warning" *ngIf="product.iva != 0">
                          Detal: {{ (product.priceS * 0.16 + product.priceS * 1.10) | convertBs }}
                      </div>
                  </div>
                  <div class="col-md-6" *ngIf="product.priceS != 0">
                      <div class="text-info text-right" *ngIf="product.iva == 0">
                      Mayor: {{ (product.priceS) | convertBs }}
                      </div>
                      <div class="text-info text-right" *ngIf="product.iva != 0">
                         Mayor: {{ (product.priceS * 0.16 + product.priceS) | convertBs }}
                      </div>
                  </div>
                  <div class="col-md-6 text-warning" *ngIf="product.priceS == 0">
                      Detal: {{product.priceS$ * 1.10 | currency}}
                  </div>
                  <div class="col-md-6 text-info text-right" *ngIf="product.priceS == 0">
                      Mayor: {{product.priceS$ | currency}}
                  </div>
                  <table class="table text-center textcolor">
                    <thead>
                      <th>Marca</th>
                      <th>Procedencia</th>
                      <th>Fecha de V</th>
                    </thead>
                    <tbody>
                      <td> {{product.marca}}  </td>
                      <td> {{product.marca2}} </td>
                      <td> {{product.fecven}} </td>
                    </tbody>
                  </table>
                </div>              
                <div class="row mt-2 mb-4 text-left" *ngIf="product.description != ''">
                    <div class="col md-12 ">
                        Descripción: {{product.description }} 
                    </div>
                </div>
                <div class="d-flex justify-content-center" *ngIf="position == 'jefe' || position == 'empleado' && permiss == 1">
                    <a class="btn btn-warning btn-round mr-4" [routerLink]="['/productos/editar',product.id]" routerLinkActive="router-link-active"  ><i class="material-icons">create</i></a>
                    <a  class="btn btn-danger btn-round" (click)="openDialog(product.id)" ><i class="material-icons">delete</i></a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

  <div >  
    <table class="tablee2" id="contentToConvert">
      <thead>
          <th> Cantidad </th>
          <th> Nombre </th>
          <th> Precio Bs </th>
          <th> Precio USD </th>
          
          <th> Fecha V </th>
      </thead>
      <tbody *ngFor="let pro of product | filterProduct:filter | orderBy:order:reverse:'case-insensitive'">
        <tr>
          <td>{{pro.stock}} </td>
          <td>{{pro.name}}</td>
          <td *ngIf="pro.priceB != 0">{{pro.priceS | convertBs}} </td>
          <td *ngIf="pro.priceB != 0">{{pro.priceS / Usd | currency}} </td>
          <td *ngIf="pro.priceB == 0">{{pro.priceS$ * Usd | convertBs}} </td>
          <td *ngIf="pro.priceB == 0">{{pro.priceS$ | currency}} </td>
          <td> {{pro.fecven}} </td> 
        </tr>
      </tbody>
    </table>      
  </div>  
  


