<div class="container-fluid">
  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let item of isaBack">
      <img matListAvatar [src]="item.img == '' ? './assets/img/no-product.png' : item.img">
      <h3 matLine> {{item.name}} </h3>
      <p matLine>
          <span>Cantidad {{item.stock}} </span>
          <span class="demo-2"> 
            <div class="mb-2" *ngIf="item.priceS != 0">
                <h4 style="font-size:0.8rem">
                  <strong class="text-info">Precio en USD M:     {{ item.priceS / Usd | currency }}</strong> |<strong class="text-info">Precio en Bs M:   {{ (item.priceS$ * Usd) | convertBs }}</strong>
                </h4>
              </div>
              <div class="mb-2" *ngIf="item.priceS$ != 0">
                  <h4 style="font-size:0.8rem">
                      <strong class="text-warning">Precio en USD D:  {{ ((item.priceS$ * Usd) * 1.10) | currency }}</strong> | <strong class="text-warning">Precio en Bs D:{{ ((item.priceS$ * Usd) * 1.10) | convertBs }}</strong>
                  </h4>
              </div>
          </span>
        </p>
    </mat-list-option>
  </mat-selection-list>
</div>