<table  id="contentToConvert" *ngIf="metodo == 'Bs'">
    <thead>
        <tr>
        <th><strong>CANTIDAD</strong></th>
        <th><strong>CONCEPTO O DESCRIPCIÓN DE LA VENTA</strong></th>
        <th><strong>PRECIO DE VENTA UNITARIO</strong></th>
        <th><strong>MONTO</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pre">
        <td>{{item.stock}}</td>
        <td>{{item.name}}</td>
        <ng-template [ngIf]="tipoDV == true">
            <td>{{item.price3  | convertBs }}</td>
            <td>{{item.price3  | convertBs:item.stock }}</td>
        </ng-template>
        <ng-template [ngIf]="tipoDV == false">
            <td>{{item.price3  | convertBs:0:true }}</td>
            <td>{{item.price3  | convertBs:item.stock:true }}</td>
        </ng-template>
        </tr>
    </tbody>
</table>
<table  id="contentToConvert" *ngIf="metodo == 'Usd'">
    <thead>
        <tr>
        <th><strong>CANTIDAD</strong></th>
        <th><strong>CONCEPTO O DESCRIPCIÓN DE LA VENTA</strong></th>
        <th><strong>PRECIO DE VENTA UNITARIO</strong></th>
        <th><strong>MONTO USD</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pre">
        <td>{{item.stock}}</td>
        <td>{{item.name}}</td>
        <ng-template [ngIf]="tipoDV == true">
                <td>{{item.price4  | currency}}</td>
                <td>{{item.price2  | currency}}</td>
        </ng-template>
        <ng-template [ngIf]="tipoDV == false">
                <td>{{item.price4  * 1.10 | currency}}</td>
                <td>{{item.price2  * 1.10 | currency}}</td>
        </ng-template>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary  mt-5" value="CPTURE" *ngIf="pre.length < 15" (click)="openDialog(true)">generar comprobante</button>
<button type="submit" class="btn btn-danger mt-5 ml-2" value="CPTURE" (click)="openDialog(false)"> PDF</button>
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="errorForm">
    Error en el formulario, al parecer se encuentra vacio o los campos necesarios no están llenos
</div>

      
    
