
<div class="content mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Agregar nuevo cliente</h4>
              <p class="card-category">Completa los datos requerido</p>
            </div>
            <div class="card-body">
              <form class="form">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">Compañia</label>
                      <input type="text" autocomplete="off" class="form-control" name="company"  [(ngModel)]="prov.company" >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">Dirección</label>
                      <input type="text"  autocomplete="off" class="form-control" name="direccion" [(ngModel)]="prov.direccion"  >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Correo</label>
                      <input type="email" autocomplete="off" name="email"  [(ngModel)]="prov.email"  class="form-control" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Nombre</label>
                      <input type="text" autocomplete="off" class="form-control" name="name" [(ngModel)]="prov.name">
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Imagen de internet (opcional)</label>
                      <input type="text" class="form-control" name="img" [(ngModel)]="prov.img">
                    </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Teléfono</label>
                      <input type="number" autocomplete="off" name="tel" [(ngModel)]="prov.tel" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Teléfono 2 (opcional)</label>
                      <input type="num" autocomplete="off" class="form-control" name="tel2" [(ngModel)]="prov.tel2" >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Proveedor</label>
                      <input type="text" autocomplete="off" name="proveedor"  [(ngModel)]="prov.provider" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary  mt-5" (click)="edit ? updateProvider() : saveProvider()">Agregar nuevo cliente</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <img class="img" [src]="prov.img == '' ? './assets/img/clientes.jpg' : prov.img" />
            </div>
            <div class="card-body">
                <h6 class="card-category"> {{prov.email}} </h6>
                <h4 class="card-title">{{prov.name}}</h4>
                <div class="row mt-2 mb-2 text-left">
                  <div class="col md-6">
                      Teléfono: {{prov.tel}}
                  </div>
                  <div class="col md-6">
                      Proveedor: {{prov.provider}}
                  </div>
                </div>
                <div class="row mt-2 mb-4 text-left">
                    <div class="col md-6 ">
                        Dirección: {{prov.direccion}} 
                    </div>
                    <div class="col md-6 ">
                        Compañia: {{prov.company}} 
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-warning btn-round" ><i class="material-icons">create</i></a>
                    <a  class="btn btn-danger btn-round" ><i class="material-icons">delete</i></a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>