<div class="animated fadeIn">
  <app-navigate></app-navigate>
  <div class="ml-5">
      <nav class="nav-component">
        <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio /</a>  <a [routerLink]="['/empleados']" routerLinkActive="router-link-active" > Empleados /</a>  <a [routerLink]="['/empleados/agregar']" routerLinkActive="router-link-active" > Agregar empleado</a> 
      </nav>
  </div>
  <div class="content mt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Agregar nuevo empleado</h4>
                <p class="card-category">Completa los datos requerido</p>
              </div>
              <div class="card-body">
                <form #form="ngForm" class="form" (ngSubmit)="addEmpleado(form)">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="bmd-label-floating">Nombre de usuario</label>
                        <input type="text" autocomplete="off" class="form-control" name="username" [(ngModel)]="user.userName" required>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="bmd-label-floating">Nombre completo del empleado</label>
                        <input type="text"  autocomplete="off" class="form-control" name="name" [(ngModel)]="user.name" required>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Contraseña</label>
                        <input type="password" autocomplete="off" name="pass"    class="form-control" [(ngModel)]="user.pass" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Número de cuenta al cúal transferir</label>
                        <input type="number" autocomplete="off" class="form-control" name="trans" [(ngModel)]="user.payMethod" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Número de teléfono</label>
                        <input type="text" autocomplete="off" name="tel"    class="form-control" [(ngModel)]="user.tel" >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Privilegios de usuarios</mat-label>
                        <mat-select name="position" [(ngModel)]="user.position" required>
                          <mat-option *ngFor="let item of privilegios" [value]="item.value">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Imagen del empleado, solo url de internet</label>
                        <input type="text" autocomplete="off" name="img"    class="form-control" [(ngModel)]="user.img" >
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary  mt-5" *ngIf="edit == false">Agregar nuevo cliente</button>
                  <button class="btn btn-primary  mt-5" *ngIf="edit" (click)="editEmple(user.id)" >Editar</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <ng-container *ngIf="user.img != ''; else elseTemplate">
                      <img class="img" [src]="user.img" />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <img class="animated pulse"  src="./assets/img/trabajador.png" *ngIf="user.position == ''"/>
                    <img class="animated pulse"  src="./assets/img/jefe.png" *ngIf="user.position == 'jefe'"/>
                    <img class="animated pulse"  src="./assets/img/vendedor.png" *ngIf="user.position == 'vendedor'">
                    <img class="animated pulse" src="./assets/img/empleado.png" *ngIf="user.position == 'empleado'">
                  </ng-template>
                </div>
                <div class="card-body">
                  <h6 class="card-category"> {{user.position}} </h6>
                  <h4 class="card-title"> {{user.name}} </h4>
                  <div class="row mt-2 mb-2 text-left">
                    <div class="col md-6">
                        Usuario: {{user.userName}}
                    </div>
                    <div class="col md-6">
                        Teléfono: {{user.tel}}
                    </div>
                  </div>
                  <div class="row mt-2 mb-4 text-left">
                      <div class="col md-6 ">
                          Número de cuenta: {{user.payMethod}}
                      </div>
                  </div>
                  <div class="d-flex justify-content-center">
                      <a class="btn btn-warning btn-round mr-4" ><i class="material-icons">create</i></a>
                      <a  class="btn btn-danger btn-round"><i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>