<table  id="contentToConvert" *ngIf="metodo == 'Bs'">
    <thead>
        <tr>
        <th><strong>CANTIDAD</strong></th>
        <th><strong>CONCEPTO O DESCRIPCIÓN DE LA VENTA</strong></th>
        <th><strong>PRECIO DE VENTA UNITARIO</strong></th>
        <th><strong>MONTO</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productos">
        <td>{{item.stock}}</td>
        <td>{{item.name}}</td>
        <ng-template [ngIf]="tipoDV == true">
                <td>{{(item.price3)  | convertBs }}</td>
                <td>{{(item.price)   | convertBs }}</td>
        </ng-template>
        <ng-template [ngIf]="tipoDV == false">
                <td>{{(item.price3 * 1.10)  | convertBs}}</td>
                <td>{{(item.price  * 1.10)  | convertBs}}</td>
        </ng-template>
        </tr>
    </tbody>
</table>
<table  id="contentToConvert" *ngIf="metodo == 'Usd'">
    <thead>
        <tr>
        <th><strong>CANTIDAD</strong></th>
        <th><strong>CONCEPTO O DESCRIPCIÓN DE LA VENTA</strong></th>
        <th><strong>PRECIO DE VENTA UNITARIO</strong></th>
        <th><strong>MONTO USD</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productos">
        <td>{{item.stock}}</td>
        <td>{{item.name}}</td>
        <ng-template [ngIf]="tipoDV == true">
                <td>{{item.price4  | currency}}</td>
                <td>{{item.price2  | currency}}</td>
        </ng-template>
        <ng-template [ngIf]="tipoDV == false">
                <td>{{item.price4  * 1.10 | currency}}</td>
                <td>{{item.price2  * 1.10 | currency}}</td>
        </ng-template>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary  mt-5" (click)="downloadPDF()">generar comprobante de nota</button>
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="errorForm">
    Error en el formulario, al parecer se encuentra vacio o los campos necesarios no están llenos
</div>

      