.custom-select{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(102, 104, 105);
}
.nav-component {
    
    a{
        color: rgb(189, 184, 184);
    }
}
.disabled{
    color: rgb(70, 67, 67)
}

.no-class{
    background-color: transparent;
    border: none;
    color: aliceblue;
}
.card-pro{
    position: absolute;
    bottom:21.5%;
    width: 100%;
}

.option{
    position: relative;
    top: 15px;
    label{
        margin-top: 25px;
    }
}
.option2{
    position: relative;
    bottom: 15px; 
}
.alert{
    position: absolute;
    bottom: 120%;
    width: 100%;
    z-index: 100;
    right: 0.5%;
}
table{
    position: absolute;
    bottom: -350%;
    width: 100%;
    color: #1a2035;
    font-weight: bold;
    th{
        color: #1a2035;
        font-weight: bold;
        border-top: #1a2035 1.5px solid;
        border-bottom: #1a2035 1.5px solid;
        text-align: center;
    }
    td{
        text-align: center;
        font-weight: bold;
    }
}