.custom-select{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(102, 104, 105);
}
.nav-component {
    
    a{
        color: rgb(189, 184, 184);
    }
}
.disabled{
    color: rgb(70, 67, 67)
}

.no-class{
    background-color: transparent;
    border: none;
    color: aliceblue;
}
.card-pro{
    position: absolute;
    bottom:16.5%;
    width: 100%;
}

.tablee2  {
    th{
        padding-right: 70px;
        //color: #1a2035;
        font-weight: bold;
       
    }
    td{ 
      padding-right: 70px;
      //color: #1a2035;
      font-weight: bold;
     
    }     
}

.example-full-width {
    width: 100%;
  }
.material-icons{
    font-size: 12px;
    .hover{
        color: rgb(207, 158, 35)
    }
}
.form-control{
    width: 70px;
}