.icon{
    transition: 1s all;
    color: blueviolet;
}
.icon:hover{
    color: blueviolet;
}
.nav-component {
    
    a{
        color: rgb(189, 184, 184);
    }
}
.disabled{
    color: rgb(70, 67, 67)
}