<app-navigate></app-navigate>
<div class="ml-5">
  <nav class="nav-component">
    <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio /</a> <a [routerLink]="['/presupuestos']" routerLinkActive="router-link-active" > Presupuesto /</a> <a [routerLink]="['/presupuestos/factura']" routerLinkActive="router-link-active"> Generar factura</a> 
  </nav>
</div>
<div class="container-fluid animated fadeIn mb-5">
  <div class="row m-5" *ngIf="option">
      <div class="col-md-6 text-center">
          <button class="no-class"><h2 class="text-info" (click)="option = false; option2 = true; optionChoose = 1" >Factura <i class="fas fa-paste"></i></h2></button>
      </div>
      <div class="col-md-6 text-center">
          <button class="no-class"><h2 class="text-warning" (click)="option = false; option2 = true; optionChoose = 2">Nota de entrega <i class="fas fa-copy"></i></h2></button>
      </div>
    </div>
    <div class="row m-5 animated fadeIn" *ngIf="option2">
      <div class="col-md-6 text-center">
          <button class="no-class"><h2 class="text-warning" (click)="option2 = false; form = true; metodo = 'Bs'" >BS <i class="fas fa-coins"></i></h2></button>
      </div>
      <div class="col-md-6 text-center">
          <button class="no-class"><h2 class="text-success" (click)="option2 = false; form = true; metodo = 'Usd'">USD <i class="fas fa-dollar-sign"></i></h2></button>
      </div>
    </div>
    
    <div class="row" *ngIf="form">  
      <div class="col-md-7 col-sm-12 ">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Generar nueva factura {{metodo}}</h4>
              <div class="card-category">
                <div class="row">
                  <div class="col-md-8">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <mat-form-field>
                          <mat-label>Seleccione un usuario</mat-label>
                          <mat-select  [(ngModel)]="chooseClient">
                            <mat-option *ngFor="let item of clients" [value]="item.id">
                              {{item.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </li>
                      <li class="list-inline-item"><button mat-stroked-button class="ml-4" (click)="getClienById(chooseClient)" *ngIf="chooseClient != ''">Rellenar</button></li>
                    </ul>
                    <div *ngIf="presu.length > 14">
                      <h4 class="text-light">Facturación modo libre desabilitada</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form class="form" #formFactura="ngForm" (ngSubmit)="recibir(formFactura)">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput autofocus autocomplete="off" placeholder="Nombre y apellido o razón social" name="nombre"  [(ngModel)]="nombre" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput autofocus autocomplete="off" placeholder="Cédula o Rif" name="cedula" [(ngModel)]="cedula" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput autofocus autocomplete="off" placeholder="Número de contacto" name="contacto" [(ngModel)]="contacto">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3" *ngIf="optionChoose != 2">
                    <div class="form-group">
                      <mat-form-field class="example-full-width mt-3">
                        <input matInput autofocus autocomplete="off" placeholder="Número de factura" name="factura" [(ngModel)]="factura" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="mt-4">
                      <mat-label>Seleccione un vendedor</mat-label>
                      <mat-select name="vendeor" [(ngModel)]="vendedor">
                        <mat-option *ngFor="let item of userList" [value]="item.name">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="switch">
                        <input type="checkbox" name="swhi" (click)="cambio(optionAux)" [(ngModel)]="tipoDV">
                        <span class="slider"></span>
                    </label>
                    <ul class="exp">
                      <li>Activado: venta al mayor</li>
                      <li>Desactivado: venta al detal</li>
                    </ul>
                  </div> 
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput #message maxlength="78" placeholder="Dirección" name="dir"  [(ngModel)]="direccion">
                        <mat-hint align="start"><strong>No mayor a 78 caracteres</strong> </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 78</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput autocomplete="off" placeholder="Origen del pedido" name="origen"  [(ngModel)]="origen" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput autofocus autocomplete="off" placeholder="Observación" name="observacion"  [(ngModel)]="observacion">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="mt-3 pag">
                      <mat-label>Condicion de pago</mat-label>
                        <mat-select name="condic" [(ngModel)]="condic" required>
                          <mat-option *ngFor="let cond of cond" [value]="cond.value">
                            {{cond.condicion}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="mt-3 pag">
                      <input type="text" maxlength="78" placeholder="Estado (dirección 2)" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="direccion2">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 animated fadeIn" *ngIf="condic=='DECONTADO'">
                    <mat-form-field class="mt-3 pag">
                      <mat-label>Tipo de pago</mat-label>
                      <mat-select   name="optionAux" [(ngModel)]="optionAux" required>
                        <mat-option *ngFor="let item of Pago" [value]="item.value">
                          {{item.tipo}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> 
                  <div class="col-md-3 option2">
                    <div class="form-group"  *ngIf="optionAux == 1">
                      <label class=" animated fadeIn">Transferencia</label>
                      <input type="number" min="0" value="{{totales.subTotal}}" autocomplete="off" class="form-control" name="transferencia" placeholder="Indique cantidad" [(ngModel)]="transferencia">
                      <button type="button"class="no-class" (click)="cambio(1)">rellenar</button>
                    </div>
                    <div class="form-group" *ngIf="optionAux == 2">
                      <label class=" animated fadeIn">Efectivo</label>
                      <input type="number" min="0" value="{{totales.subTotal}}" autocomplete="off" class="form-control" name="efectivo" placeholder="Indique cantidad" [(ngModel)]="efectivo" >
                      <button type="button" class="no-class" (click)="cambio(2)">rellenar</button>
                    </div>
                    <div class="form-group"  *ngIf="optionAux == 3">
                      <label class=" animated fadeIn">Cheque</label>
                      <input type="number" min="0" autocomplete="off" class="form-control" name="cheque"  placeholder="Indique cantidad" [value]="totales.subTotal" [(ngModel)]="cheque" >
                      <button type="button" class="no-class" (click)="cambio(3)">rellenar</button>
                    </div>
                    <div class="form-group" *ngIf="optionAux == 4">
                      <label class="bmd-label-floatin animated fadeIng">Deposito</label>
                      <input type="number" min="0" value="{{totales.subTotal}}" autocomplete="off" class="form-control" name="deposito" placeholder="Indique cantidad" [(ngModel)]="deposito"  >
                      <button type="button" class="no-class" (click)="cambio(4)">rellenar</button>
                    </div>
                  </div> 
                </div>
                <div class="animated fadeIn" *ngIf="butons" style="position: relative; bottom: 20px;">
                  <div class="d-inline" *ngIf="optionChoose == 1">
                    <app-factura
                    [nombre]="nombre"
                    [vendedor]="vendedor"
                    [cedula]="cedula"
                    [contacto]="contacto"
                    [factura]="factura"
                    [observacion]="observacion"
                    [metodo]="metodo"
                    [name]="name"
                    [finArr]="finArr"
                    [totales]=" totales"
                    [direccion]="direccion"
                    [direccion2]="direccion2"
                    [tipoDV]="tipoDV"
                    [origen]="origen"
                    [optionHistory]="optionHistory"
                    [description]="description"
                    [optionChoose]="optionChoose"
                    [efectivo]="efectivo"
                    [deposito]="deposito"
                    [transferencia]="transferencia"
                    [cheque]="cheque"
                    [condic]="condic"
                    [optionAux]="optionAux"
                    ></app-factura>
                  </div>
                  <div class="d-inline" *ngIf="optionChoose == 2">
                    <app-notaEntrega
                    [nombre]="nombre"
                    [vendedor]="vendedor"
                    [cedula]="cedula"
                    [contacto]="contacto"
                    [factura]="factura"
                    [observacion]="observacion"
                    [metodo]="metodo"
                    [name]="name"
                    [finArr]="finArr"
                    [totales]=" totales"
                    [direccion]="direccion"
                    [direccion2]="direccion2"
                    [tipoDV]="tipoDV"
                    [origen]="origen"
                    [optionHistory]="optionHistory"
                    [description]="description"
                    [optionChoose]="optionChoose"
                    [efectivo]="efectivo"
                    [deposito]="deposito"
                    [transferencia]="transferencia"
                    [cheque]="cheque"
                    [condic]="condic"
                    [optionAux]="optionAux"
                    ></app-notaEntrega>
                  </div>
                  <div class="d-inline">
                    <button type="reset" class="ml-4 btn btn-warning  mt-5" (click)="reset()">Limpiar</button>
                  </div>
                  <div class="d-inline ml-4 swich">
                    <mat-slide-toggle color="primary"  name="swidasd" [(ngModel)]="optionHistory" (click)="openDialog()">
                      <ul>
                        <li>Desactivado: pagado</li>
                        <li>Activado: pendiente</li>
                      </ul>
                    </mat-slide-toggle>
                  </div>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
      </div>
        <div class="col-md-5">
            <app-preview-factura
            [tipoDV]="tipoDV"
            [nombre]="nombre"
            [vendedor]="vendedor"
            [cedula]="cedula"
            [contacto]="contacto"
            [factura]="factura"
            [observacion]="observacion"
            [metodo]="metodo"
            [optionChoose]="optionChoose"
            [efectivo]="efectivo"
            [transferencia]="transferencia"
            [cheque]="cheque"
            [direccion]="direccion"
            [direccion2]="direccion2"
            [deposito]="deposito"
            [butons]="butons"
            [name]="name"
            [origen]="origen"
            (Arra)="getArr($event)"
            (Arr2)="getArr2($event)"
            (aux5)="recAux($event)"
            [condic]="condic"
            ></app-preview-factura>
        </div>
    </div>
</div>
