<body class="dark-edition animated fadeIn">
  <app-navigate></app-navigate>
<div class="ml-5">
        <nav class="nav-component">
          <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio</a> / <a [routerLink]="['/proveedores']" routerLinkActive="router-link-active" >Lista de proveedores</a> / <a [routerLink]="['/proveedores/Agregar']" routerLinkActive="router-link-active" >Agregar proveedor</a> 
        </nav>
      </div>
<app-form-provider></app-form-provider>
</body>
