<app-navigate></app-navigate>
<div class="ml-5">
    <nav class="nav-component">
      <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio /</a>  <a [routerLink]="['/prsupuesto']" routerLinkActive="router-link-active" > Presupuesto /</a> 
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Presupuesto</h1>
        <p style="color:rgb(194, 193, 188)">Dentro de esta sección encontrarás el formulario de presupuesto, aquí deberás rellenar todos los datos requeridos para 
          que el presupuesto sea generado una vez termines. Haz click en el botón agregar para añadir un nuevo medicamento y al finalizar
          haz click al botón de terminar para generar tu comprobante
        </p>
      </div>
    </div>
    <br>
    <div class="animated shake bg-danger" *ngIf="err">
        <div class="alert alert-primary" role="alert">
           ¡Heeey! Debes elegir algún medicamento...
        </div>
    </div>
    <div class="animated shake bg-warning" *ngIf="err2">
        <div class="alert alert-primary" role="alert">
           ¡Heeey! Te has olvidado de agregar una cantidad, intenta de nuevo...
        </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
        <app-lisproduct-pre  
        [show]="show" 
        [pro]="pro" 
        [aux]="aux" 
        [productos]="productos" 
        (enviar)="getPro($event)"
        >
      </app-lisproduct-pre>
    </div>
    <div class="col-md-5">
      <app-add-pre 
      [aux3]="aux3"
      (presu)="presuCurrency($event)"
      (facturar)="presupuest($event)"
      (presuArr)="getInfo($event)"
      ></app-add-pre>
    </div>
  </div>
</div>
<app-hermano 
[aux]="aux"
[show]="show"
[pr]="pr"
[err]="err"
[err2]="err2"
[aux2]="aux2"
[stock]="stock"
[pro]="pro"
[productos]="productos"
(enviar)="chageShow($event)"
(volver)="chageShow($event)"
></app-hermano>


<div *ngIf="currency == 'Bs'">
  <table class="tablee2" id="contentToConvert">
    <thead>
        <th> CANT </th>
        <th> NOMBRE </th>
        <th> PRECIO-UND </th>
        <th> TOTAL </th>
    </thead>
    <tbody *ngFor="let item of pre">
      <tr>
          <td>{{item.stock}}</td>
          <td>{{item.name}}</td>
          <td *ngIf="variablesPresu.venta == true">{{item.price3        | convertBs }}</td>
          <td *ngIf="variablesPresu.venta == true">{{item.price3        | convertBs:item.stock }}</td>
          <td *ngIf="variablesPresu.venta != true">{{item.price3        | convertBs:0:true }}</td>
          <td *ngIf="variablesPresu.venta != true">{{item.price3        | convertBs:item.stock:true }}</td>
      </tr>
    </tbody>
  </table>
</div>

{{variablesPresu.venta}}

<div *ngIf="currency == 'Usd'">
    <table class="tablee2" id="contentToConvert">
      <thead>
          <th > CANT </th>
          <th > NOMBRE </th>
          <th > PRECIO-UND </th>
          <th> TOTAL</th>
      </thead>
      <tbody *ngFor="let item of pre">
        <tr>
            <td >{{item.stock}}</td>
            <td >{{item.name}}</td>
            <td *ngIf="variablesPresu.venta == true">{{item.price4        | currency}}</td>
            <td *ngIf="variablesPresu.venta == true">{{item.price2        | currency}}</td>
            <td *ngIf="variablesPresu.venta != true">{{item.price4 * 1.10 | currency}}</td>
            <td *ngIf="variablesPresu.venta != true">{{item.price2 * 1.10 | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>