		<p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_1_1_wrapper" data-alias="slider-1" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_1_1"  data-version="6.1.1">
					<rs-slides>
						<rs-slide data-key="rs-1" data-title="Slide" data-thumb="./assets/img/background_medicina-1024x492-50x100.jpg" data-anim="ei:d,d,d,d;eo:d,d,d,d;s:1000,d,d,d;r:0,0,0,0;t:fade,slotzoom-vertical,brightnesscross,random-premium;sl:0,d,d,d;">
							<img src="./assets/img/background_medicina-1024x492.jpg" alt="background_medicina-1024x492" title="slider 1" width="2000" height="960" data-bg="p:center top;" data-panzoom="d:20000ms;e:Power0.easeIn;ss:150%;se:100%;bs:0px;be:3px;os:0px/300px;oe:0/0px;" class="rev-slidebg" data-no-retina>
		<rs-layer
								id="slider-1-slide-1-layer-2" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;y:c;"
								data-text="w:normal;s:70;l:110;ls:-6;fw:100;a:center;"
								data-dim="minh:0px;"
								data-frame_0="o:1;"
								data-frame_0_chars="o:0;rY:90deg;"
								data-frame_1="e:Power4.easeInOut;sp:1500;"
								data-frame_1_chars="e:Power4.easeOut;"
								data-frame_999="o:0;st:w;"
								style="z-index:7;font-family:Montserrat;"
							>La forma más fácil<br />
de adquirir <br />
medicamentos e insumos médicos 
							</rs-layer>
					</rs-slide>
						<rs-slide data-key="rs-2" data-title="Slide" data-thumb="./assets/img/242637-P3T1FT-959-50x100.jpg" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
							<img src="./assets/img/242637-P3T1FT-959.jpg" title="slider 2" width="3000" height="1910" data-panzoom="d:10000;ss:150%;se:100;" class="rev-slidebg" data-no-retina>

							<a
								id="slider-1-slide-2-layer-4" 
								class="rs-layer rev-btn"
								(click)="route()" rel="nofollow"
								data-type="button"
								data-color="#ffffff"
								data-bsh="c:rgba(0,0,0,0.25);v:10px;b:20px;"
								data-rsp_ch="on"
								data-xy="x:506px;y:502px;"
								data-text="w:normal;s:18;l:50;fw:500;"
								data-dim="minh:0px;"
								data-padding="r:40;l:40;"
								data-border="bor:5px,5px,5px,5px;"
								data-frame_1_words="e:Linear.easeNone;"
								data-frame_999="o:0;st:w;"
								data-frame_hover="sX:1.2;sY:1.2;bgc:#007aff;bor:5px,5px,5px,5px;e:Power4.easeOut;bri:120%;"
								style="z-index:5;background:linear-gradient(rgba(255,149,0,1) 0%, rgba(255,94,58,1) 100%);font-family:Roboto;"
							>IR A LA TIENDA 
							</a>
					</rs-slide>
					</rs-slides>
					<rs-progress style="height: 1px; background: #ffffff;"></rs-progress>
				</rs-module>
			</rs-module-wrap>
			
