<app-navigate></app-navigate>
<div class="ml-5">
  <nav class="nav-component">
    <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio /</a> <a [routerLink]="['/productos']" routerLinkActive="router-link-active" > Lista de productos /</a> <a [routerLink]="['/productos/agregar']" routerLinkActive="router-link-active"> Agregar producto</a> 
  </nav>
</div>
  <div class="row mt-4 mb-5" *ngIf="edit != true">
    <div class="container mb-4">
      <div class="col-md-12">
          <p class="text-center text-light">No es permitido tener productos duplicados, si intenta introducir un producto que ya
              se encuentre dentro de la base de datos este no será guardado</p>
        </div>
      <div class="col-md-12">
        <div class="row m-5 animated fadeIn" *ngIf="currency == 0">
          <div class="col-md-6 text-center">
              <button class="no-class"><h2 class="text-warning" (click)="currency = 1" >BS <i class="fas fa-coins"></i></h2></button>
          </div>
          <div class="col-md-6 text-center">
              <button class="no-class"><h2 class="text-success" (click)="currency = 2">USD <i class="fas fa-dollar-sign"></i></h2></button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="content mt-5 animated fadeIn" *ngIf="currency != 0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Agregar nuevo producto</h4>
                  <p class="card-category">Completa los datos requerido</p>
                </div>
                <div class="card-body">
                  <form #form="ngForm" class="form" (ngSubmit)="edit ? updateProduct(form) : saveProduct(form)">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nombre" autofocus  autocomplete="off" name="name" [(ngModel)]="product.name" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Precio de venta Ej: 10.000 BS o 10.00 USD" autocomplete="off"  name="priceB" [(ngModel)]="product.priceB">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="currency == 1">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput type="number" placeholder="Precio de venta Bs, active para agregar iva" autocomplete="off"  min="1" name="priceS" [(ngModel)]="product.priceS" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="currency == 2">
                        <div class="input-group mb-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <input matInput type="number" placeholder="Precio de venta USD, Iva visible unicamente en BS"  autocomplete="off" min="1" name="priceS$" [(ngModel)]="product.priceS$" required>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput type="number" placeholder="Cantidad"   min="1" autocomplete="off" name="stock" [(ngModel)]="product.stock" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Fecha de vencimiento" autocomplete="off" name="fecven" [(ngModel)]="product.fecven" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <mat-label>Categoria</mat-label>
                              <mat-select name="category" [(ngModel)]="product.category" required>
                                <mat-option *ngFor="let item of category" [value]="item.id">
                                  {{item.name}}
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput autocomplete="off" placeholder="Procedencia"  autocomplete="off" name="marca2" [(ngModel)]="product.marca2">
                          </mat-form-field>
                        </div> 
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput autocomplete="off" placeholder="Marca del product"  autocomplete="off" name="marca" [(ngModel)]="product.marca">
                          </mat-form-field>
                        </div> 
                      </div>
                      <div class="col-md-4" *ngIf="acces == 'jefe'">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput autocomplete="off" placeholder="Precio de promoción disponible jefe" name="precioPro" [(ngModel)]="product.pricePro">
                          </mat-form-field>
                        </div> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput autocomplete="off" placeholder="Imagen de internet (opcional fines estéticos)" name="img" [(ngModel)]="product.img">
                          </mat-form-field>
                        </div> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width">
                            <input matInput autocomplete="off" placeholder="Agregar descripción del producto" name="description" [(ngModel)]="product.description">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary  mt-5" >Agregar nuevo producto</button>
                    <button class="btn btn-warning ml-2  mt-5" (click)="escoger()" >Escoger divisa</button>
                    <mat-slide-toggle class="ml-2 mt-4 iva" name="iva" [(ngModel)]="product.iva" >IVA</mat-slide-toggle>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4 animated fadeInRight">
              <div class="card card-profile">
                <div class="card-avatar">
                  <img class="img" [src]="product.img == '' ? './assets/img/no-product.png' : product.img" />
                </div>
                <div class="cantidad">
                    <div *ngIf="product.stock == 0">
                      <i class="fas fa-exclamation-triangle text-danger" style="font-size: 1.5rem"></i>
                    </div>
                    <span class="text-light">{{product.stock}}</span>
                  </div>
                <div class="card-body">
                    <div class="card-title">
                      <h3 class="text-name">{{product.name}}</h3>
                      <div class="mb-2" style="position:relative; bottom: 8px;">
                          <small *ngIf="position == 'jefe'">Compra: {{product.priceB}}</small>
                          <br>
                          <small class="iva2 animated fadeIn" *ngIf="product.iva != 0">Este producto contine Iva</small>
                      </div>
                      <div class="mb-2" *ngIf="currency == 1">
                        <h4 style="font-size:0.8rem">
                          <strong class="text-info">Precio en USD M:     {{ product.priceS / Usd | currency }}</strong> |
                          <strong class="text-warning">Precio en USD D:  {{ ((product.priceS / Usd) * 1.10) | currency }}</strong> 
                        </h4>
                      </div>
                      <div class="mb-2" *ngIf="currency == 2">
                          <h4 style="font-size:0.8rem">
                            <strong class="text-info">Precio en Bs M:   {{ (product.priceS$ * Usd) | convertBs }}</strong> |
                            <strong class="text-warning">Precio en Bs D:{{ ((product.priceS$ * Usd) * 1.10) | convertBs }}</strong>
                          </h4>
                      </div>
                    </div>
                    <br>
                    <div class="row mt-2 mb-2 text-left">
                      <div class="col-md-6" *ngIf="product.priceS != 0">
                          <div class="text-warning" *ngIf="product.iva == 0">
                              Detal: {{ (product.priceS * 1.10) | convertBs }}
                          </div>
                          <div class="text-warning" *ngIf="product.iva != 0">
                              Detal: {{ (product.priceS * 0.16 + product.priceS * 1.10) | convertBs }}
                          </div>
                      </div>
                      <div class="col-md-6" *ngIf="product.priceS != 0">
                          <div class="text-info text-right" *ngIf="product.iva == 0">
                          Mayor: {{ (product.priceS) | convertBs }}
                          </div>
                          <div class="text-info text-right" *ngIf="product.iva != 0">
                              Mayor: {{ (product.priceS * 0.16 + product.priceS) | convertBs }}
                          </div>
                      </div>
                      <div class="col-md-6 text-warning" *ngIf="product.priceS == 0">
                          Detal: {{product.priceS$ * 1.10 | currency}}
                      </div>
                      <div class="col-md-6 text-info text-right" *ngIf="product.priceS == 0">
                          Mayor: {{product.priceS$ | currency}}
                      </div>
                      <table class="table text-center textcolor">
                        <thead>
                          <th>Marca</th>
                          <th>Procedencia</th>
                          <th>Fecha de V</th>
                        </thead>
                        <tbody>
                          <td> {{product.marca}}  </td>
                          <td> {{product.marca2}} </td>
                          <td> {{product.fecven}} </td>
                        </tbody>
                      </table>
                    </div>              
                    <div class="row mt-2 mb-4 text-left" *ngIf="product.description != ''">
                        <div class="col md-12 ">
                            Descripción: {{product.description }} 
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" *ngIf="position == 'jefe' || position == 'empleado' && permiss == 1">
                        <a class="btn btn-warning btn-round mr-4" [routerLink]="['/productos/editar',product.id]" routerLinkActive="router-link-active"  ><i class="material-icons">create</i></a>
                        <a  class="btn btn-danger btn-round" (click)="openDialog(product.id)" ><i class="material-icons">delete</i></a>
                    </div>
                  </div>
              </div>
              <div class="container animated fadeIn" *ngIf="good">
                <div class="alert alert-primary mt-5" role="alert">
                  El producto ha sido agregado.
                </div>
              </div>
              <div class="container animated fadeIn" *ngIf="bad">
                <div class="alert alert-primary mt-5" role="alert">
                  {{error}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      