<body class="dark-edition animated fadeIn">
  <div class="wrapper ">
    <app-menu-inicio></app-menu-inicio>
      <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
              <app-navigate2></app-navigate2>
              <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Configurar factura">
                  <div class="mt-4 mb-4">
                    <app-facturas-config></app-facturas-config>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
        </div>
      </div>
  </div>
  <footer class="footer" style="position:fixed;right: 0;
  bottom: 0;">
    <div class="container-fluid">
      <div class="copyright float-right">
        <i class="material-icons">favorite</i>
        <a href="" target="_blank"> ISA V-1.0</a> 
      </div>
      <!-- your footer here -->
    </div>
  </footer>
  </body>