<button class="btn-block btn btn-success" (click)="actuArr()" *ngIf="aux4">CONFIRMAR</button>
<div *ngIf="optionChoose == 1">
  <!-- Facturacion si es en BS -->
    <div class="factura container-fluid animated fadeIn" *ngIf="metodo == 'Bs'">
      <div class="header  mt-2">
          <img class="mt-2" src="./assets/img/facturacion.png" width="350px">
        <div class="des">
          <ul>
            <li class="pri">FORMA LIBRE SERIE "A"</li>
            <li>FACTURA NRO {{factura}}</li>
          </ul>
        </div>
      </div>
      <div class="des2">
        <div class="row">
            <div class="col-md-6">
                <P style="font-size:6px; line-height:8px;">VENTA DE INSUMOS MEDICOS  CALLE GONZALEZ CC SAN MIGUEL NIVEL PLANTA BAJA LOCAL N,01 SECTOR PANTANO ABAJO SANTA ANA DE CORO FALCON ZONA POSTAL 4101 TELF 0412 661.58.59</P>
            </div>
            <div class="col-md-6 text-right">
              <ul class="list-inline head-fec">
                <li class="list-inline-item">FECHA Y LUGAR DE EMISION</li>
                <li class="list-inline-item">DIA</li>
                <li class="list-inline-item">MES</li>
                <li class="list-inline-item">AÑO</li>
              </ul>
              <ul class="list-inline fec text-right">
                <li class="list-inline-item"><strong>SANTA ANA DE CORO</strong></li>
                <li class="list-inline-item item2">{{fecha()}}</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="fila1">
          <div class="row">
            <div class="col-md-8">
              <p>NOMBRE O RAZÓN SOCIAL:</p>
            </div>
            <div class="col-md-4 text-right">
                <p>RIF/C.I: <span>{{cedula}}</span> </p>
            </div>
          </div>
      </div>
      <div class="fila2">
        <div class="row">
          <div class="col-md-8">
            <h2>{{nombre}}</h2>
          </div>
          <div class="col-md-4 text-right">
            <h2>J-08500744-0</h2>
          </div>
          <div class="col-md-8 ">
            <div class="d-flex block">
                <small>DIRECCIÓN FISCAL:  </small>
            </div> 
            <div><small>{{direccion}}</small></div>
            <div><small>{{direccion2}}</small></div>   
          </div>
            <div class="col-md-4 text-right">
              <p>NRO. DE CONTACT {{contacto}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p>VENDENDOR: {{vendedor}} </p>
          </div>
          <div class="col-md-4 text-right">
            <p>CONDICIONES DE PAGO: {{condic}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">CANTIDAD</th>
                  <th scope="col">CONCEPTO O DESCRIPCIÓN DE LA VENTA</th>
                  <th scope="col">PRECIO DE VENTA UNITARIO</th>
                  <th scope="col">MONTO BS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pre">
                  <td>{{item.stock}}</td>
                  <td>{{item.name}}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == false">{{item.price3  | convertBs:0:true }}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == false">{{item.price3  | convertBs:item.stock:true }}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == true"> {{item.price3  | convertBs }}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == true"> {{item.price3  | convertBs:item.stock }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right totales">
            <!-- condiciones que evaluan si está al mayor o al detal si está al detal solo se le suma el 10%-->
            <p> SUB-TOTAL BS. S: {{obtenerTotal()                                     | convertBs }}</p>
            <p> MONTO TOTAL BASE IMPONIBLE AL 16%  BS.S {{obtenerTotalIvaSumado()     | convertBs }}</p>
            <p> MONTO TOTAL EXONERADO O EXENTO DE IVA BS.S {{ obtenerTotalSinIva()    | convertBs }}</p>
            <p> MONTO TOTAL DE I.V.A  AL 16 % BS.S {{ obtenerTotalIva()               | convertBs }}</p>
            <h2>MONTO TOTAL A PAGAR BS.S:  {{obtenerTotal() + obtenerTotalIva()       | convertBs }}</h2>
          </div>
          <div class="col-md-4 text-left totales">
            <p>OBSERVACIONES</p>
            <p>FORMA DE PAGO</p>
            <P>EFECTIVO {{efectivo | convertBs}}</P>
            <P>TRANSFEENCIA O DEPOSITO {{transferencia | convertBs}} | {{deposito | convertBs}}</P>
          </div>
          <div class="col-md-8 text-right">
            <p>"{{observacion}}"</p>
            <P>"{{metodo}}"</P>
            <p>ORIGEN PEDIDO NRO. {{origen}}</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-left">
            <p>REALIZAR TRANSFERENCIAS A LAS SIGUIENTES CUENTAS</p>
            <p>BOD 0116-0177-42-0028764030 /MERCANTIL 0105-0104-11-1104169118</p>
            <p>CARONI 0128-0113-12-1301026982/ VZLA 0102-0696-14-0000403513</p>
          </div>
          <div class="text-right">
            <p>CONTROL NÚMERO.{{factura}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- facturacion si es en dolares -->
    <div class="factura container-fluid animated fadeIn" *ngIf="metodo == 'Usd'">
        <div class="header  mt-2">
            <img class="mt-2" src="./assets/img/facturacion.png" width="350px">
          <div class="des">
            <ul>
              <li class="pri">FORMA LIBRE SERIE "A"</li>
              <li>FACTURA NRO {{factura}}</li>
            </ul>
          </div>
        </div>
        <div class="des2">
          <div class="row">
              <div class="col-md-6">
                  <P style="font-size:6px; line-height:8px;">VENTA DE INSUMOS MEDICOS  CALLE GONZALEZ CC SAN MIGUEL NIVEL PLANTA BAJA LOCAL N,01 SECTOR PANTANO ABAJO SANTA ANA DE CORO FALCON ZONA POSTAL 4101 TELF 0412 661.58.59</P>
              </div>
              <div class="col-md-6 text-right">
                <ul class="list-inline head-fec">
                  <li class="list-inline-item">FECHA Y LUGAR DE EMISION</li>
                  <li class="list-inline-item">DIA</li>
                  <li class="list-inline-item">MES</li>
                  <li class="list-inline-item">AÑO</li>
                </ul>
                <ul class="list-inline fec text-right">
                  <li class="list-inline-item"><strong>SANTA ANA DE CORO</strong></li>
                  <li class="list-inline-item item2">{{fecha()}}</li>
                </ul>
              </div>
            </div>
        </div>
        <div class="fila1">
            <div class="row">
              <div class="col-md-8">
                <p>NOMBRE O RAZÓN SOCIAL: </p>
              </div>
              <div class="col-md-4 text-right">
                  <p>RIF/C.I: <span>{{cedula}}</span> </p>
              </div>
            </div>
        </div>
        <div class="fila2">
          <div class="row">
            <div class="col-md-8">
              <h2>{{nombre}}</h2>
            </div>
            <div class="col-md-4 text-right">
              <h2>J-08500744-0</h2>
            </div>
            <div class="col-md-8 ">
              <div class="d-flex block">
                  <small>DIRECCIÓN FISCAL: {{direccion}} </small>
              </div>    
            </div>
              <div class="col-md-4 text-right">
                <p>NRO. DE CONTACT {{contacto}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <p>VENDENDOR: {{name}} </p>
            </div>
            <div class="col-md-4 text-right">
              <p>CONDICIONES DE PAGO: {{condic}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">CONCEPTO O DESCRIPCIÓN DE LA VENTA</th>
                    <th scope="col">PRECIO DE VENTA UNITARIO</th>
                    <th scope="col">MONTO $</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pre">
                    <td>{{item.stock}}</td>
                    <td>{{item.name}}</td>
                    <td *ngIf="tipoDV == false">{{item.price4 *1.10 | currency}}</td>
                    <td *ngIf="tipoDV == true ">{{item.price4       | currency}}</td>
                    <td *ngIf="tipoDV == true ">{{item.price2       | currency}}</td>
                    <td *ngIf="tipoDV == false">{{item.price2 *1.10 | currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right totales">
              <h2 *ngIf="tipoDV == false">MONTO TOTAL A PAGAR USD: {{obtenertotalDol() *1.10 | currency}} </h2>
              <h2 *ngIf="tipoDV == true">MONTO TOTAL A PAGAR USD: {{obtenertotalDol()        | currency}} </h2>
            </div>
            <div class="col-md-4 text-left totales">
              <p>OBSERVACIONES</p>
              <p>FORMA DE PAGO</p>
              <P>EFECTIVO</P>
              <P>TRANSFEENCIA O DEPOSITO</P>
            </div>
            <div class="col-md-8 text-right">
              <p>"{{observacion}}"</p>
              <P>{{metodo}}</P>
              <p>ORIGEN PEDIDO NRO. {{origen}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-left">
              <p>REALIZAR TRANSFERENCIAS A LAS SIGUIENTES CUENTAS</p>
              <p>BOD 0116-0177-42-0028764030 /MERCANTIL 0105-0104-11-1104169118</p>
              <p>CARONI 0128-0113-12-1301026982/ VZLA 0102-0696-14-0000403513</p>
            </div>
            <div class="text-right">
              <p>CONTROL NÚMERO.{{origen}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- Nota de entrega en bs -->
<div *ngIf="optionChoose == 2" >
  <div class="factura container-fluid animated fadeIn" *ngIf="metodo == 'Bs'">
    <div class="factura container-fluid animated fadeIn">
    <div class="header  mt-2">
        <img class="mt-2" src="./assets/img/facturacion.png" width="350px">
      <div style="position: relative; left: 370px; bottom: 55px; line-height:12px;">
        <p><strong>VENTA DE INSUMOS MÉDICOS</strong><br>
        <span style="font-size: 8.2px">Calle González Cc San Miguel Nivel Planta </span>
        <br>
        <span style="font-size: 9px">Baja Local N° 01 Sector Pantano Abajo</span>
        <br>
        <span style="font-size: 8px">Santa Ana de Coro Falcón Zona postal 4101</span>
        <br>
        <span style="font-size: 8.5px">Telf: (0412)611.58.58 / (0414)688.40.17</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p style="position: relative; bottom: 65px; line-height: 12px;font-size: 8px;">
          VENTA DE INSUMOS MÉDICOS CALLE GONZÀLEZ CC SAN MIGUEL NIVLE PLANTA BAJA LOCAL N,01 SECTOR
          PANTANO ABAJO SANTA ANA DE CORO FALCÓN ZONA POSTAL TELF:(0412)661.58.59 / (0414)688.40.17
        </p>
      </div>
      <div class="col-md-4" style="position: relative; bottom: 45px;">
        <p style="font-size: 8px">NOTA DE ENTREGA <span class="ml-4">{{origen}}</span></p>
        <p style="position: relative; bottom: 20px; font-size: 6.5px"> FECHA Y LUGAR DE EMISIÓN  <span class="ml-2">DIA-MES-AÑO</span></p>
        <p style="position: relative; bottom: 40px; right: 2px; font-size: 6.5px">SANTA ANA DE CORO <span style="position: relative; left: 34px;">{{fecha()}}</span></p>
      </div>
      <div class="col-md-8">
        <p style="position: relative; bottom: 90px;font-size:8px;"><strong>NOMBRE APELLIDO O RAZÓN SOCIAL</strong><br></p>
      </div>
      <div class="col-md-4">
        <p style="font-size: 8px; position: relative; bottom: 90px;">RIF/C.I {{cedula}}</p>
      </div>
      <div class="col-md-8">
        <p style="position: relative; bottom: 118px;font-size:8px;">{{nombre}}</p>
      </div>
      <div class="col-md-4">
        <p style="font-size: 8px; position: relative; bottom: 118px;">J-41103612-9</p>
      </div>
      <div class="col-md-8 ">
        <hr  style="color: black; position: relative; bottom: 150px;"/>
      </div>
      <div class="col-md-4">
        <p style="font-size: 8px; position: relative; bottom: 150px; "></p>
      </div>
      <div class="col-md-8">
        <p style="position: relative; bottom: 165px;">DIRECCIÓN FISICA <span class="ml-5">{{direccion}}</span></p>
      </div>
      <div class="col-md-4">
        <p style="position: relative; bottom: 165px; font-size: 7px"><strong>NÚMERO DE CONTACTO</strong> {{contacto}}</p>
      </div>
    </div>
    <div class="row" style="position: relative; bottom: 165px; font-size: 7px">
      <div class="col-md-8">
        <p>Vendedor <span style="font-size: 9px; position:relative; left:90px">{{vendedor}} </span></p>
      </div>
      <div class="col-md-4">
        <p>Condiciones de pago: {{condic}}</p>
      </div>
      <div class="col-md-8">
        <p style="font-size: 8px;">Por concepto de la vente de los siguientes productos</p>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="row" style="position: relative; bottom: 175px;">
      <div class="col-md-12 text-center">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">CANTIDAD</th>
              <th scope="col">CONCEPTO O DESCRIPCIÓN DE LA VENTA</th>
              <th scope="col">PRECIO DE VENTA UNITARIO</th>
              <th scope="col" *ngIf="metodo == 'Bs'">MONTO BS</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of pre">
                  <td>{{item.stock}}</td>
                  <td>{{item.name}}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == false">{{item.price3  * 1.10| convertBs}}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == false">{{item.price   * 1.10 | convertBs}}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == true">{{item.price3 | convertBs}}</td>
                  <td class="animated fadeIn" *ngIf="tipoDV == true">{{item.price  | convertBs}}</td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="position: relative; bottom: 50px;">
      <div class="col-md-4">
        <ul style="position: relative; top:160px">
          <li style="font-size: 10px">OBSERVACIONES {{observacion}}</li>
          <li style="font-size: 10px">MÉTODO DE PAGO {{metodo}}</li>
        </ul>
      </div>
      <div class="col-md-7">
        <ul class="text-right">
          <li><p  *ngIf="tipoDV == false">SUB-TOTAL BS. S: {{obtenerTotal() * 1.10 | convertBs}}</p> </li>
          <li><p  *ngIf="tipoDV == true">SUB-TOTAL BS. S: {{obtenerTotal() | convertBs}}</p></li>
          <li><p *ngIf="tipoDV == false">MONTO TOTAL BASE IMPONIBLE AL 16%  BS.S {{obtenerTotalIva() * 1.10 | convertBs}}</p></li>
          <li><p *ngIf="tipoDV == true">MONTO TOTAL BASE IMPONIBLE AL 16%  BS.S {{obtenerTotalIva() | convertBs}}</p></li>
          <li><p style="font-size: 8px">MONTO TOTAL EXONERADO O EXENTO DE IVA Bs.S <span class="ml-2">{{obtenerTotalSinIva() | convertBs}}</span></p></li>
          <li><p *ngIf="tipoDV == false" >MONTO TOTAL EXONERADO O EXENTO DE IVA BS.S  {{obtenerTotalSinIva() * 1.10 | convertBs}}</p></li>
          <li><p *ngIf="tipoDV == true" >MONTO TOTAL EXONERADO O EXENTO DE IVA BS.S  {{obtenerTotalSinIva()         | convertBs}}</p></li>
          <li><p>MONTO TOTAL DE I.V.A  AL 16 % BS.S</p></li>
          <li><h2 *ngIf="tipoDV == false">MONTO TOTAL A PAGAR BS.S:  {{ (obtenerTotal() * 1.10 ) + (obtenerTotalIva() * 1.10) | convertBs}}</h2></li>
          <li>            <h2 *ngIf="tipoDV == true">MONTO TOTAL A PAGAR BS.S:  {{obtenerTotal() + obtenerTotalIva()         | convertBs}}</h2></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- nota de entrega en dolares -->
<div class="factura container-fluid animated fadeIn" *ngIf="metodo == 'Usd'">
    <div class="factura container-fluid animated fadeIn">
    <div class="header  mt-2">
        <img class="mt-2" src="./assets/img/facturacion.png" width="350px">
      <div style="position: relative; left: 370px; bottom: 55px; line-height:12px;">
        <p><strong>VENTA DE INSUMOS MÉDICOS</strong><br>
        <span style="font-size: 8.2px">Calle González Cc San Miguel Nivel Planta </span>
        <br>
        <span style="font-size: 9px">Baja Local N° 01 Sector Pantano Abajo</span>
        <br>
        <span style="font-size: 8px">Santa Ana de Coro Falcón Zona postal 4101</span>
        <br>
        <span style="font-size: 8.5px">Telf: (0412)611.58.58 / (0414)688.40.17</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p style="position: relative; bottom: 65px; line-height: 12px;font-size: 8px;">
          VENTA DE INSUMOS MÉDICOS CALLE GONZÀLEZ CC SAN MIGUEL NIVLE PLANTA BAJA LOCAL N,01 SECTOR
          PANTANO ABAJO SANTA ANA DE CORO FALCÓN ZONA POSTAL TELF:(0412)661.58.59 / (0414)688.40.17
        </p>
      </div>
      <div class="col-md-4" style="position: relative; bottom: 45px;">
        <p style="font-size: 8px">NOTA DE ENTREGA <span class="ml-4">{{origen}}</span></p>
        <p style="position: relative; bottom: 20px; font-size: 6.5px"> FECHA Y LUGAR DE EMISIÓN  <span class="ml-2">DIA-MES-AÑO</span></p>
        <p style="position: relative; bottom: 40px; right: 2px; font-size: 6.5px">SANTA ANA DE CORO <span style="position: relative; left: 34px;">{{fecha()}}</span></p>
      </div>
      <div class="col-md-8">
        <p style="position: relative; bottom: 90px;font-size:8px;"><strong>NOMBRE APELLIDO O RAZÓN SOCIAL</strong><br></p>
      </div>
      <div class="col-md-4">
        <p style="font-size: 8px; position: relative; bottom: 90px;">RIF/C.I {{cedula}}</p>
      </div>
      <div class="col-md-8">
        <p style="position: relative; bottom: 118px;font-size:8px;">{{nombre}}</p>
      </div>
      <div class="col-md-4">
        <p style="font-size: 8px; position: relative; bottom: 118px;">J-41103612-9</p>
      </div>
      <div class="col-md-8 ">
        <hr  style="color: black; position: relative; bottom: 150px;"/>
      </div>
      <div class="col-md-4">
        <p style="font-size: 8px; position: relative; bottom: 150px; "></p>
      </div>
      <div class="col-md-8">
        <p style="position: relative; bottom: 165px;">DIRECCIÓN FISICA <span class="ml-5">{{direccion}}</span></p>
      </div>
      <div class="col-md-4">
        <p style="position: relative; bottom: 165px; font-size: 7px"><strong>NÚMERO DE CONTACTO</strong> {{contacto}}</p>
      </div>
    </div>
    <div class="row" style="position: relative; bottom: 165px; font-size: 7px">
      <div class="col-md-8">
        <p>Vendedor <span style="font-size: 9px; position:relative; left:90px">{{vendedor}} </span></p>
      </div>
      <div class="col-md-4">
        <p>Condiciones de pago: {{condic}}</p>
      </div>
      <div class="col-md-8">
        <p style="font-size: 8px;">Por concepto de la vente de los siguientes productos</p>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="row" style="position: relative; bottom: 175px;">
      <div class="col-md-12 text-center">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">CANTIDAD</th>
              <th scope="col">CONCEPTO O DESCRIPCIÓN DE LA VENTA</th>
              <th scope="col">PRECIO DE VENTA UNITARIO</th>
              <th scope="col">MONTO  USD</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pre">
              <td>{{item.stock}}</td>
              <td>{{item.name}}</td>
              <td *ngIf="tipoDV == true ">{{item.price4       | currency}}</td>
              <td *ngIf="tipoDV == false">{{item.price4 *1.10 | currency}}</td>
              <td *ngIf="tipoDV == true ">{{item.price2       | currency}}</td>
              <td *ngIf="tipoDV == false">{{item.price2 *1.10 | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="position: relative; bottom: 50px;">
      <div class="col-md-4">
        <ul style="position: relative; top:60px">
          <li style="font-size: 10px">OBSERVACIONES {{observacion}}</li>
          <li style="font-size: 10px">MÉTODO DE PAGO {{metodo}}</li>
        </ul>
      </div>
      <div class="col-md-7">
        <ul class="text-right">
            <h2 *ngIf="tipoDV == false">MONTO TOTAL A PAGAR USD: {{obtenertotalDol() *1.10 | currency}} </h2>
            <h2 *ngIf="tipoDV == true">MONTO TOTAL A PAGAR USD:  {{obtenertotalDol()       | currency}} </h2>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

  
<!-- cierre de entrega -->