<footer id="footer" class="footer-5 color-inverse">
    <div class="overlay">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="widget">
                            <h3 class="widget-title">Sobre nosotros</h3>
                            <div class="widget-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur ilm
                                    elit fringilla commodo  Maecenasgue ege ui
                                    nsectetur ili adipiscing  elit…
                                </p>
                                <ul class="list-unstyled" style="margin-bottom: 30px;font-family: Montserrat;font-size: 13px;font-weight: 500;">
                                    <li>
                                        <span class="color-primary mr-4">Email:</span> info@chiart.abcdf.com
                                    </li>
                                    <li>
                                        <span class="color-primary mr-4">Teléfono:</span> + 33 323 34522
                                    </li>
                                    <!-- <li>
                                        <span class="color-primary mr-4">Fax:</span> +33 3467888
                                    </li> -->
                                </ul>
                                <p class="color-lighten font-italic" style="font-family: Lato;">
                                    PO Box 16122 Collins Victoria 3000  Australia
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="widget">
                            <h3 class="widget-title text-uppercase">Lastest news</h3>
                            <div class="">
                                <div class="widget-post-item-4">
                                    <div class="post-date color-primary">Jan 15, 2016</div>
                                    <div class="post-excerpt">
                                        Vestibulum gravida mi at tellus porta 
                                        hendrerit
                                    </div>
                                </div>
                                <div class="widget-post-item-4">
                                    <div class="post-date color-primary">Jan 15, 2016</div>
                                    <div class="post-excerpt">
                                        Justo quis ullamcorper finibus, neque 
                                        augue pulvinar metus
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-2">
                        <div class="widget">
                            <h3 class="widget-title">MY ACCOUNT</h3>
                            <div class="widget-menu">
                                <ul class="no-style">
                                    <li>
                                        <a href="#" class="no-color">My account </a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Wish list </a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Specials</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Order history</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Contact Us </a>
                                    </li>										
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-2">
                        <div class="widget">
                            <h3 class="widget-title">INFORMATION</h3>
                            <div class="widget-menu">
                                <ul class="no-style">
                                    <li>
                                        <a href="#" class="no-color">About us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Custom services</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Privacy notice</a>
                                    </li>										
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-2">
                        <div class="widget">
                            <h3 class="widget-title">Support</h3>
                            <div class="widget-menu">
                                <ul class="no-style">
                                    <li>
                                        <a href="#" class="no-color">Online support </a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Help & FAQs </a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Call Center</a>
                                    </li>										
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- Copyright -->
<div class="copyright dark-style">
    <div class="container">
        <div class="row flex-wrap justify-content-between">
            <div class="col-auto">
                <a href="#" class="color-primary">Ronby</a> - Copyright 2017. Design by <a href="#" class="color-primary">Theme-Squared</a>
            </div>
            <div class="col-auto">
                <img src="../assets/images/credit-cards.png" alt="">
            </div>
        </div>
    </div>
</div>