<footer id="footer" class="footer-5 color-inverse">
    <div class="overlay">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="widget">
                            <h3 class="widget-title">SOBRE NOSOTROS</h3>
                            <div class="widget-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur ilm
                                    elit fringilla commodo  Maecenasgue ege ui
                                    nsectetur ili adipiscing  elit…
                                </p>
                                <ul class="list-unstyled" style="margin-bottom: 30px;font-family: Montserrat;font-size: 13px;font-weight: 500;">
                                    <li>
                                        <span class="color-primary mr-4">Email:</span> info@chiart.abcdf.com
                                    </li>
                                    <li>
                                        <span class="color-primary mr-4">Teléfono:</span> + 33 323 34522
                                    </li>
                                    <!-- <li>
                                        <span class="color-primary mr-4">Fax:</span> +33 3467888
                                    </li> -->
                                </ul>
                                <p class="color-lighten font-italic" style="font-family: Lato;">
                                    4101 Calle Gonzáles entre calle Unión y Urdaneta, Coro estado Falcón
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-xl-3">
                        <div class="widget">
                            <h3 class="widget-title text-uppercase">Lastest news</h3>
                            <div class="">
                                <div class="widget-post-item-4">
                                    <div class="post-date color-primary">Jan 15, 2016</div>
                                    <div class="post-excerpt">
                                        Vestibulum gravida mi at tellus porta 
                                        hendrerit
                                    </div>
                                </div>
                                <div class="widget-post-item-4">
                                    <div class="post-date color-primary">Jan 15, 2016</div>
                                    <div class="post-excerpt">
                                        Justo quis ullamcorper finibus, neque 
                                        augue pulvinar metus
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-4 col-xl-2">
                        <div class="widget">
                            <h3 class="widget-title">MI CUENTA</h3>
                            <div class="widget-menu">
                                <ul class="no-style">
                                    <li>
                                        <a [routerLink]="[ '/usuario']" class="no-color">Mi Cuenta</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[ '/cesta']" class="no-color">Cesta de compras</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Order history</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Contact Us </a>
                                    </li>										
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 col-xl-2">
                        <div class="widget">
                            <h3 class="widget-title">INFORMATION</h3>
                            <div class="widget-menu">
                                <ul class="no-style">
                                    <li>
                                        <a href="#" class="no-color">About us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Custom services</a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Privacy notice</a>
                                    </li>										
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-2">
                        <div class="widget">
                            <h3 class="widget-title">Support</h3>
                            <div class="widget-menu">
                                <ul class="no-style">
                                    <li>
                                        <a href="#" class="no-color">Online support </a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Help & FAQs </a>
                                    </li>
                                    <li>
                                        <a href="#" class="no-color">Call Center</a>
                                    </li>										
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright dark-style">
    <div class="container">
        <div class="row flex-wrap justify-content-between">
            <div class="col-auto">
                <a href="#" class="color-primary">Isa</a> - Sistema administrativo 
            </div>
            <ul class="col-auto">
                <li class="list-inline-item">
                    <p>Ante cualquier duda o incoformidad contactar</p>
                </li>
                <li class="list-inline-item" id="whatsapp">
                    <a  href="https://api.whatsapp.com/send?phone=34123456789" target="blank">
                        <i class="flaticon-whatsapp"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>