<div class="row">
  <div class="col-md-12 animated fadeIn" *ngIf="loadingStore">
    <div class="text-center loading">
      <img src="./assets/img/loading.svg" >
      <br><br>
      <h4 class="text-primary">Cargando ...</h4>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!loadingStore">
    <mat-select class="my-select-panel-class" placeholder="Buscar por categorias en la tienda" [(ngModel)]="categoryById" name="category">
      <mat-option *ngFor="let item of categorys" [value]="item.id">
        {{item.nombre}}
      </mat-option>
    </mat-select>
  </div>
</div>