<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 animated fadeIn" *ngIf="loadingStore">
        <div class="text-center loading">
          <img src="./assets/img/loading.svg" >
          <br><br>
          <h4 class="text-primary">Cargando ...</h4>
        </div>
      </div>
      <div class="col-md-12 animated fadeIn" *ngIf="!loadingStore">
        <div class="text-center">
            <img src="./assets/img/isaStore.png" width="100">
        </div>
        <div class="container mb-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar producto en la tienda..." name="filter" [(ngModel)]="filter">
          </div> 
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-md btn-block">Eliminar</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-warning btn-md btn-block">Esconder</button>
          </div>
        </div>
        <mat-selection-list  #store>
          <mat-list-option *ngFor="let item of storeProducts | filterProduct:filter | orderBy:order:reverse:'case-insensitive'">
            <img matListAvatar [src]="item.img == '' ? './assets/img/noimg.png' : item.img">
            <h3 matLine> {{item.name}} </h3>
            <p matLine>
              <span> Cantidad: {{item.stock}} </span>
              <span class="demo-2"> 
                <ng-container *ngIf="item.priceS != 0; else elseTemplate">
                    <div class="mb-2">
                      <h4 style="font-size:0.8rem">
                        <strong class="text-info">Precio en USD    {{ item.priceS / Usd | currency  }}</strong> |
                        <strong class="text-warning">Precio en Bs  {{ item.priceS       | convertBs }}</strong> 
                      </h4>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <h4 style="font-size:0.8rem">
                      <strong class="text-info">Precio en Bs      {{ item.priceS$ * Usd | convertBs }}</strong> |
                      <strong class="text-warning">Precio en USD  {{ item.priceS$       | currency  }}</strong>
                    </h4>
                </ng-template>
              </span>
            </p>
          </mat-list-option>
        </mat-selection-list>
      </div>
  </div>
</div>