.custom-select{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(102, 104, 105);
}
.nav-component {
    
    a{
        color: rgb(189, 184, 184);
    }
}
.disabled{
    color: rgb(70, 67, 67)
}

.no-class{
    background-color: transparent;
    border: none;
    color: aliceblue;
}
.card-pro{
    position: absolute;
    bottom:17%;
    width: 88%;
}

.iva{
    position: relative;
    top:30px;
    left:10px;
    color: rgb(204, 78, 46)
}