<div class="row" *ngIf="aux" class="card-pro">
  <div class="col-md-8 col-sm-12 float-left animated flipInX">
      <div class="card">
        <div class="card-body">
            <div class="stats">
              <button class="text-warning no-class" style="font-size:1rem" (click)="back()">Volver</button>
            </div>
            <div class="text-center" *ngIf="pr.priceS != 0">
              <h4>Precio en Bs: <span>{{ (pr.priceS) | convertBs }}</span> | <span class="text-light"> {{pr.name}}</span> | Precio en Usd: <span>{{pr.priceS / usdValor | currency}}</span></h4>
            </div>
            <div class="text-center" *ngIf="pr.priceS == 0">
              <h4>Precio en Bs: <span>{{ (pr.priceS$ * usdValor) | convertBs }}</span> | <span class="text-light"> {{pr.name}}</span> | Precio en Usd: <span>{{pr.priceS$ | currency}}</span></h4>
            </div>
            <form #canti="ngForm" (ngSubmit)="add(canti,pr.name,restar,usdValor,pr.priceS,pr.id,pr.priceS$,pr.priceB$,pr.iva)">
              <div class="row">
                <div class="col-md-12 text-center animated fadeIn" *ngIf="restar == 0; else res">
                  <h3><span class="text-info">{{pr.stock}}</span> Unidades</h3>
                </div>
                <ng-template #res>
                  <div class="col-md-12 text-center animated heartBeat" *ngIf="pr.priceS != 0">
                      <div class="d-flex justify-content-center">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <h3><span class="text-warning">{{pr.stock - restar}}</span></h3>
                          </li>
                          <li class="list-inline-item">
                            <h3>
                                Unidades Bs {{ (restar * pr.priceS) | convertBs }}
                            </h3>
                          </li>
                          <li class="list-inline-item">
                            <h3>
                              <span class="text-success"> 
                                {{restar * pr.priceS / usdValor | currency}}
                              </span>
                            </h3>
                          </li>
                        </ul>
                        <small  *ngIf="pr.iva == 1" class="iva">Este producto contiene Iva</small>
                      </div>
                  </div>
                  <!--  Productos agregado al almacén con Bs -->
                  <div class="col-md-12 text-center animated heartBeat" *ngIf="pr.priceS == 0">
                    <div class="d-flex justify-content-center">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <h3>
                            <span class="text-warning">{{pr.stock - restar}}</span>
                          </h3>
                        </li>
                        <li class="list-inline-item">                        
                          <h3>Unidades Bs  {{ (restar * pr.priceS$ * usdValor) | convertBs }}</h3>
                        </li>
                        <li class="list-inline-item">
                          <h3>                          
                            <span class="text-success">  {{restar * pr.priceS$     | currency}}</span>
                          </h3>
                        </li>
                      </ul>
                      <small  *ngIf="pr.iva == 1" class="iva">Este producto contiene Iva</small>
                    </div>
                  </div>
                  <!-- producto agregado al almacén con $ -->
                </ng-template>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Cantidad de medicamentos a agregar</label>
                    <input type="number" autofocus min="1" max="{{pr.stock}}"  class="form-control" name="stock" [(ngModel)]="restar" style="font-size:2rem">
                  </div>
                  <button type="submit" class="btn btn-secundary btn-lg btn-block" (click)="delete(pr.id)">Agregar</button>
                </div>
              </div>
            </form>
        </div>
      </div>
  </div>
</div>   
