.custom-select{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(102, 104, 105);
}
.nav-component {
    
    a{
        color: rgb(189, 184, 184);
    }
}
.disabled{
    color: rgb(70, 67, 67)
}

.no-class{
    background-color: transparent;
    border: none;
    color: aliceblue;
}
.card-pro{
    position: absolute;
    bottom:21.5%;
    width: 100%;
}